.App {
  text-align: center;
  text-decoration: aliceblue;
}

.blue {
  background: lightblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}

.heading {
  display: flex;
  width: 100%;
  font-size: 40px;
  color: red;
  opacity: 50%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.right {
  text-align: right;
  width: 70%;
}

.DetailedData {
  display: flex;
  width: 0px;
  margin-left: 500px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: auto;
}

.searchbar {
  text-align: left;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 50px;
  color: red;
}

::placeholder {
  color: red;
}

.App-link {
  color: #61dafb;
}

.left {
  text-align: left;
}

.ReactTable {
  position: relative;
  margin-left: 40px;
  right: 10px;
  flex-direction: column;
  border: 1px solid red;
  border-collapse: separate;
  padding: 10px;
  background: turquoise;
  vertical-align: center;
  border-bottom: 1px solid green;
  width: 95%;
  text-align: center;
  height: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}